    body{
      position:relative;
      width:100%;
      height:100%;
    }

    #wrapper{
      height : 80vh;  
      width:100%;    
      //height: auto !important;
      margin-bottom: 10px;
      clear:both;
      bottom:70px;
    }

    #Logo{
      margin-top:-30px;
      font-size :200px;
    }

    .Images{
      //width:400px;
      //height:400px;
      padding :20px;
    }

   .preview{
    border:1px dotted #efb73e;
    //width:25%;
    //height :450px;
    padding:10px;
    margin:10px;
   }

   .tvShows{
    padding :10px;
    margin:20px;
    width:150px;
   }

    #footer {
      padding: 25px;
      margin:50px;
      width:100%;
      height:60px;
      bottom:0px;
      position:absolute;
    }

    @media screen and (max-width: 640px) {
      footer{
        bottom:0px;
        position:relative;
      }
    }

    @media screen and (max-width: 980px) {
      footer{
        position:absolute;
        bottom:0px;
        margin:0px;
      }
    }