    body{
      position:relative;
      width:100%;
      height:100%;
      font-size:14px;
    }

    #wrapper{
      height : 80vh;  
      width:100%;    
      height: auto !important;
      margin-bottom: 10px;
      clear:both;
      bottom:70px;
    }

    #Logo{
      margin-top:0px;
      font-size :40px;
    }

    h1{
      font-size:40px;
    }
    
    #imagesGoHere{
      height:100%;
      display: flex;
      flex-wrap:wrap;
      display: -webkit-flex; /* Safari */
      -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    }

    .Images{
      width:25%;
      height:25%;
      padding:5px;
    }

   .preview{
    border:1px dotted #efb73e;
    padding:10px;
    margin:10px;
   }

   .tvShows{
    padding :10px;
    margin:20px;
    width:150px;
   }

    #footer {
      padding: 25px;
      margin:50px;
      width:100%;
      height:60px;
      bottom:0px;
      position:absolute;
    }

    @media screen and (max-width: 640px) {
      footer{
        bottom:0px;
        position:relative;
      }
      .Images{
        flex:100%;
        max-width:100%;
      }
    }

    @media screen and (max-width: 980px) {
      footer{
        position:absolute;
        bottom:0px;
        margin:0px;
      }
    }

    .btn{
      font-size:14px;
    }

